thead th {
    background-color: #00b3ee;
    color: #ffffff;
    text-align: center;
}

tbody td {
    text-align: center;
}

tbody > tr:nth-child(odd) > td {
    background-color: #bce8f1;
}

tbody > tr:nth-child(even) > td {
    background-color: #eeeeee;
}

tr>td:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

tr>td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

table {
    border-spacing: 0 5px;
    border-collapse: separate;
}

.table-hover tbody tr:hover td {
    background-color: #999999;
}

.row {
  margin-bottom: 3px;
}
.row .row {
  margin-top: 0px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.index {
    text-align: center;
}

#index_header {
    margin-top:35px
}