{% extends 'base.html' %}
{% load filters %}

{% block content %}

    <div class="container">
        <div class="btn-group">
            <a class="btn btn-default menu-btn" href="{% url 'update_'|add:active object.id %}">Update {{ object.name }}</a>
            <a class="btn btn-default menu-btn" href="{% url 'delete_'|add:active object.id %}">Delete {{ object.name }}</a>
        </div>

        <h1>{{ object.name }}</h1>

        {% for attribute in columns %}
            <p>{{ attribute|titlize }}: {{ object|get_attr:attribute }}</p>
        {% endfor %}

{#        {% for field, value in object %}#}
{#        <p> {{ field }}: {{ value }} </p>]#}
{#        {% endfor %}#}

    </div>

{% endblock content %}